{% load staticfiles %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'task.css' %}" />
	<link rel="stylesheet" href="/static/jquery/ui.css" />
	<script src="/static/jquery/jquery.js"></script>
	<script src="/static/jquery/jquery-ui.js"></script>
	<script>
	$(function() {
		$( "#id_start_date" ).datepicker();
	});
	</script>
</head>


<form action={% url 'kanban:taskcreate' board_id %} method="post">
	{% csrf_token %}
	<h2>New task</h2>
	<table>
	{{ form }}
	</table>
<div>
	<input type="submit" value="Create task"></input>
</div>

</form>
