{% load staticfiles %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'kanban.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'task.css' %}" />
	<link rel="stylesheet" href="{% static 'jquery/ui.css' %}" />
	<script src="{% static 'jquery/jquery.js' %}"></script>
	<script src="{% static 'jquery/jquery-ui.js' %}"></script>
	<script>
	$(function() {
		$( "#id_start_date" ).datepicker();
	});
	</script>
</head>


<form action={% url 'kanban:taskedit' board_id task.id %} method="post">
	{% csrf_token %}
	<h2>Edit task: <a href="{% url 'kanban:taskshow' board_id task.id %}">TASK-{{ task.id }}</a></h2>
	<table>
	{{ form }}
	</table>
<div class="toolbox">
	<input type="submit" value="Save"></input>
        | <a onclick="if (confirm('Are you sure to close task #{{ task.id }}: {{ task.title }} ?')) { document.location = '{% url 'kanban:taskclose' board_id task.id %}'}">Close task</a>
        | <a href="{% url 'kanban:taskshow' board_id task.id %}">Back</a>
</div>

</form>
